.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .row {
    margin: 10px;
    padding: 10px;
    background: #eee;
}

.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.bg-c-w {
  background-color: white !important;
}

.flex-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(133, 194, 238);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-container,
.slide-child-container {
  position: relative;
  height: 500px;
}

.slide-child-container {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.background-config {
  background-size: cover;
  background-repeat: no-repeat;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.w-10 {
  width: 10%
}

.t-c {
  color: #6c757d;
  text-decoration: none;
}

.a-c {
  color: #6c757d !important
}

.a-c:hover {
  color: #4b4d50 !important
}

.t-j {
  text-align: justify;
}

.w-k {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.overflow {
  overflow: visible
}

.b-c {
  background-color: #eeeeee !important
}

.m-10px {
  margin: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-ml-10px {
  margin-left: 10px;
  margin-right: 10px;
}

.bg-i-inn {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  width: 160px;
  height: 160px;
}

.bg-i-inn-home {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 5px;
  width: 130px;
  height: 140px;
}

.bg-i-slide-home {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  
}

.bg-i-slide-home:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ml-20px {
  margin-left: 20px !important;
}
.ml-10 {
  margin-left: 10px;
}

.pl-0 {
  padding-left: 0px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}

.p-tb-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}
.a {
  text-decoration: none;
  color: #1e1f21
}

.a-c {
  text-decoration: none;
  color: #6c757d
}

a:hover {
  color: #595f64
}

.absolute {
  position: absolute !important;
  top: 24%;
  left: 36%
}

.relative {
  position: relative !important;
}

.z-index-10 {
  z-index: 10;
}

.z-index-99 {
  z-index: 99;
}

.z-index-100 {
  z-index: 100;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.min-height {
  min-height: 86vh;
}

.t-a-l {
  text-align: left;
}

.t-c-b {
  color: black;
}

.t-b-c {
  border-style: solid;
  border-color: 5px white;
}

.t-border-coder {
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: #fff;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.avatar {
  width: 160px;
  height: 160px;
  background-color: red;
  border-radius: 50%;
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}

.t-c-w {
  color: white !important
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.slide-height {
  height: 260px
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button-2 {
  width: 220px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding: 16px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  outline: none;
}

.button-2:hover {
  width: 220px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding: 16px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  outline: none;
  }
textarea {
  white-space: pre-wrap;
}

.t-upper {
  text-transform: uppercase;
}

.slide-inn {
  height: 570px;
  width: 100%;
}

.pt-16 {
  padding-top: 16px !important;
}

.avatar-poster {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: red;
}

.p-container {
  padding: 20px 30px !important;
}

.t-align-center {
  text-align: center;
}

.video-container {
  width: 100%;
  height: 100%;
}

.flex-align-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mt-30 {
  margin-top: 30px
}

.border-side {
  padding-left: 20px;
  padding-right: 20px
}

.w-60 {
  width: 60%;
}


.w-40 {
  width: 40% !important;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
}

.p-60 {
  padding: 60px;
  padding-top: 20px
}

.opa-0-1 {
  opacity: 0.1;
}


.opa-1 {
  opacity: 1;
}

.p-120 {
  padding: 120px;
  padding-top: 40px
}

.button-width {
  width: 300px
}

.t-align-left {
  text-align: left;
}

.p-100 {
  padding: 20px 100px 40px!important;
}

.m-f-20 {
  margin-left: 20px
}

.p-4-20 {
  padding: 10px 20px !important;
}

.height-input {
  height: 40px !important
}

.width-input {
  width: 300px !important
}

.border-none {
  border: none;
}

.w-48 {
  width: 48% !important
}

.ml-auto {
  margin-left: 40px
}

.button-width-160 {
  width: 160px
}

.pl-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.happening-event-height {
  min-height: 90vh;
}

.width-160 {
  width: 260px
}