<footer class="text-center text-lg-start bg-light text-muted">
  <section class="">
    <div class="container text-center text-md-start mt-0">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-2">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            Hội Đồng Hương
          </h6>
          <p>
            Được thành lập năm 2010, nhằm mục đích gặp gỡ , giao lưu kết bạn của những con người đồng hương Bình Sơn lại với nhau
          </p>
        </div>
        <div class="col-md-2 col-lg-4 col-xl-4 mx-auto mb-4 mt-2">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-phone me-3"></i>
            Donate
          </h6>
          <p><i class="fas fa-phone me-3"></i>Số tài khoản: 1014956994</p>
          <p><i class="fas fa-phone me-3"></i>Ngân hàng: VietcomBank</p>
          <p><i class="fas fa-phone me-3"></i>Chủ tài khoản: hội trưởng Lý Thái Bình</p>


        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4 mt-2">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-envelope me-3"></i>
            Contact
          </h6>
          <p>
            <i class="fas fa-home me-3"></i> 
            Facebook link: 
            <a href="https://www.facebook.com/HDHBINHSON/" class="text-reset">HDH HS-SV BS-DN</a>
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            Email: hdhhs-svhuyenBS-DN@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i>Phone number: +0326 567 321</p>
          <p><i class="fas fa-print me-3"></i>Zalo: 0326 567 321</p>
        </div>
        <!-- Grid column -->
      </div>
    </div>
  </section>
  {{!--  --}}
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="/">HoiDongHuongHS-SVhuyenBS-DN.com</a>
  </div>
</footer>