<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Trang chủ</a>
  {{!-- drop down --}}
    <ul class="d-flex mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Sự kiện hằng năm
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{#each dataEvents}}
            <a class="dropdown-item" href="/events/{{this.title}}">{{this.title}}</a>
          {{/each}}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/events">Xem tất cả các sự kiện đã diễn ra</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
      <a class="btn btn-outline-success my-2 my-sm-0"  href="/auth/google">LOGIN</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>