<div class="col-3 bg-dark">
            <a href="/admin/happening-event" class="btn btn-light mt-4">Chi tiet su kien</a>
            <a href="/admin/edit-happening-event" class="btn btn-light mt-4">Chinh sua su kien</a>
            <a href="/admin/change-new-event" class="btn btn-light mt-4">Thay doi su kien </a>
            <a href="/admin/send-mail-happening-event" class="btn btn-light mt-4">Gui mail su kien</a>
        </div>