<div class='col-2'>
  <div class='mt-50'>
    <div class='button flex-align-center button-width-160'>
      <a href='/admin/happening-event' class='t-upper a-none-line t-c-green'>Chi Tiết Sự Kiện</a>
    </div>
    <div class='button flex-align-center mt-4 button-width-160'>
      <a href='/admin/edit-happening-event' class='t-upper a-none-line t-c-green'>Chỉnh Sửa Sự Kiện</a>
    </div>
    <div class='button flex-align-center mt-4 button-width-160'>
      <a href='/admin/change-new-event' class='t-upper a-none-line t-c-green'>Thay Đổi Sự Kiện</a>
    </div>
    <div class='button flex-align-center mt-4 button-width-160'>
      <a href='/admin/send-mail-happening-event' class='t-upper a-none-line t-c-green'>Gửi Mail Sự Kiện</a>
    </div>
  </div>
</div>