<div class="shadow p-120">
<form method="POST" enctype="multipart/form-data" action="add-annual-event" class="t-c">
    <div class="">
        <label for="exampleInputPassword1">Tiêu đề sự kiện</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Tiêu đề sự kiện" name="title">
    </div>
    <div class="form-group purple-border mt-4">
        <label for="exampleFormControlTextarea4">Mô tả sự kiện</label>
        <textarea class="form-control" id="exampleFormControlTextarea4" rows="8" name="description"></textarea>
    </div>
    <div class="mt-4">
        <label for="exampleInputPassword1">Liên kết youtube sự kiện</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Liên kết sự kiện" name="title">
    </div>
    <div class="flex-align-center">
        <input type="submit" class="mt-4 button flex-align-center button-width" value="Thêm mới sự kiện hàng năm"/>
    </div>
</form>
</div>