{{#each dataEvents }}
<h5>
    <a href="annual-event-detail?title={{this.title}}">
        {{this.title}}
    </a>
</h5>
{{/each}}

<a type="button" class="btn btn-primary text-white" href="add-annual-event">Add new event</a>