 
 <script>
     $(function() {
    // Multiple images preview in browser
    var imagesPreview = function(input, placeToInsertImagePreview) {

        if (input.files) {
            var filesAmount = input.files.length;

            for (i = 0; i < filesAmount; i++) {
                var reader = new FileReader();

                reader.onload = function(event) {
                    $($.parseHTML('<img>')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                }

                reader.readAsDataURL(input.files[i]);
            }
        }

    };

    $('#gallery-photo-add').on('change', function() {
        imagesPreview(this, 'div.gallery');
    });
});
 </script>
 <div class="container row">
        {{>siderBarHappeningEvent}}
        <div class="col-9">
            <form method="POST" enctype="multipart/form-data" action="change-new-event">
                <div class="form-group">
                    <label for="exampleInputPassword1">Title of event</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Title of event" name="title">
                </div>
                <div class="form-group purple-border">
                    <label for="exampleFormControlTextarea4">Description of event</label>
                    <textarea class="form-control" id="exampleFormControlTextarea4" rows="3" name="description"></textarea>
                </div>
                {{#with time}}
                    <div class="form-group purple-border">
                        <input type="date" id="start" name="action_time" value="{{date}}" min="{{date}}">
                    </div>
                {{/with}}
                <input type="file" multiple id="gallery-photo-add" name="uploaded_file">
                <div class="gallery"></div>

                <input type="submit" value="Change new event" class="mt-4">
            </form>
        </div>
    </div>
