{{#with happenedEventDetail}}
<h1>
    <p>{{this.title}}</p> 
    Hội đồng hương học sinh - sinh viên huyện Bình Sơn tại TP Đà Nẵng 
</h1>
<p>Được diễn ra vào ngày : {{this.action_time}}</p>
<p>
    {{this.description}}
</p>
<img src="/images/{{this.image_name}}" alt="">
{{/with}}
