<table class="table">
  <tbody>
    <tr>
      <td class="name">Mã tin:</td>
      <td>#589874</td>
    </tr>
    <tr>
      <td class="name">Khu vực</td>
      <td> Cho thuê phòng trọ Đà Nẵng </td>
    </tr>
    <tr>
      <td class="name">Loại tin rao:</td>
      <td>Phòng trọ, nhà trọ</td>
    </tr><tr>
      <td class="name">Đối tượng thuê:</td>
      <td>Tất cả</td>
    </tr>
    <tr>
      <td class="name">Gói tin:</td>
      <td>
        <span style="color: #055699;">Tin thường</span>
      </td>
    </tr>
    <tr>
      <td class="name">Ngày đăng:</td>
      <td>
        <time title="Thứ 2, 12:04 06/06/2022">Thứ 2, 12:04 06/06/2022</time>
      </td>
    </tr>
    <tr>
      <td class="name">Ngày hết hạn:</td>
      <td>
        <time title="Thứ 5, 12:04 16/06/2022">Thứ 5, 12:04 16/06/2022</time>
      </td>
    </tr>
  </tbody>
</table>