<div class="shadow w-100 p-container p-100 t-align-left">
    <form action="/post/edit?id={{id}}" method="POST" enctype="multipart/form-data">
    {{!-- Tiêu đề --}}
    <div class="shadow p-4-20 mt-4">
        <div class="form-group">
            <label for="exampleInputPassword1"><h6 class="t-c m-f-20 mb-0">Thông tin cơ bản</h6></label>
            <input type="text" class="form-control mt-1" id="exampleInputPassword1" placeholder="Tiêu đề" name="title">
            <div class="mt-20 flex">
                <div class="w-48 ">
                    <input type="text" class=" form-control" id="exampleInputPassword1" placeholder="Ex: 2.1                                                                            Triệu/Tháng" name="title">
                </div>
                <div class="w-48 ml-auto">
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ex: 20.1                                                                                          m2" name="title">
                </div>                  
            </div>
            <div class="form-control mt-4 ">
                <input type="text" class="height-input width-input border-none" id="exampleInputPassword1" placeholder="Ex: K92 H06/41 Đinh Tiên Hoàng" name="title">
                <label for="" class="t-c">/</label>
                <select name="cars" id="cars" class="height-input t-c border-none">
                    <option value="volvo">Phường</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
                <label for="" class="t-c">/</label>
                <select name="cars" id="cars" class="height-input t-c border-none">
                    <option value="volvo">Quận</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
                <label for="" class="t-c">/ Đà Nẵng</label>
                
            </div>
        </div>
    </div>

    <div class="shadow p-4-20 mt-30">
        <div class="form-group">
            <label for="exampleInputPassword1"><h6 class="t-c m-f-20 mb-0">Thông tin mô tả</h6></label>
            <textarea class="form-control mt-1"  name="" id="" cols="10" rows="5"></textarea>
        </div>
    </div>

    <div class="shadow p-4-20 mt-30">
        <div class="form-group">
            <label for="exampleInputPassword1"><h6 class="t-c m-f-20 mb-0">Liên hệ</h6></label>
            <input type="text" class="form-control mt-1" id="exampleInputPassword1" placeholder="Tên" name="title">
            <input type="text" class="form-control mt-1" id="exampleInputPassword1" placeholder="Facebook" name="title">
            <input type="text" class="form-control mt-1" id="exampleInputPassword1" placeholder="Số điện thoại" name="title">
            <input type="text" class="form-control mt-1" id="exampleInputPassword1" placeholder="Zalo" name="title">
        </div>
    </div>

    <div class="shadow p-4-20 mt-30">
        <div class="w-100 mt-4">
        <div>
        <input type="file" name="uploaded_file"  >
        </div>
        <label class="custom-file-upload">
            <input type="file" name="uploaded_file"/>
            Thay đổi ảnh khác
        </label>
    </div>
    </div>
    <div class="flex-align-center">
        <input type="submit" value="Chỉnh sửa bài đăng" class="mt-4 button flex-align-center button-width">
        <a type="submit" href="/account/{{creator_id}}" class="mt-4 button flex-align-center button-width ml-20">Hủy bỏ</a>
    </div>
</form>
</div>